<<< indent >>>\begin{<<< latex_environment >>>}{<<< metadata.bullet_symbol >>>}{<<< metadata.name >>>}{<<< metadata.dates >>>}
<%% for bullet in bullets %%>
<<< indent >>>    \<<< bullet.marker >>> <<< bullet.latex_raw >>>
<%% endfor %%>
<<< indent >>>\end{<<< latex_environment >>>}