<<< indent >>>\begin{<<< latex_environment >>>}{<<< metadata.bullet_symbol >>>}{<<< metadata.name >>>}{<<< metadata.dates >>>}
<%% for bullet in bullets %%>
<<< indent >>>    \<<< bullet.bullet_type >>> <<< bullet.text >>>
<%% endfor %%>
<<< indent >>>\end{<<< latex_environment >>>}
