\begin{itemize}[leftmargin=\firstlistindent, labelsep = 0pt, align=center, labelwidth=\firstlistlabelsep, itemsep = 8pt]

<%% for category in rendered_categories %%>
<<< category >>>

<%% endfor %%>
\end{itemize}
