\begin{<<< metadata.get('environment_name') >>>}
<%% for item in content['bullets'] %%>
    \<<< item['marker'] >>> <<< item['latex_raw'] >>>
<%% endfor %%>
\end{<<< metadata.get('environment_name') >>>}
<%% if metadata.get('trailing_text') %%>

<<< metadata.trailing_text >>>
<%% endif %%>
