\begin{itemizeMain}
<%% for item in content['bullets'] %%>
    \<<< item['marker'] >>> <<< item['latex_raw'] >>>
<%% endfor %%>
\end{itemizeMain}
<%% if metadata.get('trailing_text') %%>

<<< metadata.trailing_text >>>
<%% endif %%>
