\begin{textblock*}{\textwidth}(\leftmargin, \paperheight- \bottombarsolidheight)
{\color{AnthropicDarkerGray}\section*{\hspace{3.5pt}<<< name >>>}
\mbox{\hspace{6pt}}<<< text >>>\mbox{\hspace{6pt}} \mbox{\hspace{6pt}}}}
\end{textblock*}
